<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SmartShort</title>

<body>
    <h1>Welcome to SmartShort!</h1>
    <p>This is the home page! You can use this service to shorten your URLs.</p>
    <p>To shorten a URL, kajsfdkvvnkajvdsjavndja</p>
    <pre>
{
    "long_url": "https://www.example.com/your-long-url"
}
    </pre>
    <p>To see all shortened links, eskvsfjdvsfdvopfs dfsijv s</p>
</body>
</html>